In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('happiness_train_abbr.csv')
df.head()

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,...,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
0,1,4,1,12,32,59,2015/8/4 14:18,1,1959,1,...,60000.0,2,2,1,2,3,3,2,4,3
1,2,4,2,18,52,85,2015/7/21 15:04,1,1992,1,...,40000.0,3,4,1,2,1,1,1,4,2
2,3,4,2,29,83,126,2015/7/21 13:24,2,1967,1,...,8000.0,3,3,1,2,3,2,1,4,2
3,4,5,2,10,28,51,2015/7/25 17:33,2,1943,1,...,12000.0,3,3,1,1,7,2,1,3,2
4,5,4,1,7,18,36,2015/8/10 9:50,2,1994,1,...,-2.0,4,3,1,1,1,3,2,3,-8

In [4]:
df.describe()

,id,happiness,survey_type,province,city,county,gender,birth,nationality,religion,...,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
count,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.00000,8000.000000,8000.00000,8000.000000,...,7.999000e+03,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.00000,8000.000000
mean,4000.50000,3.850125,1.405500,15.155375,42.564750,70.619000,1.53000,1964.707625,1.37350,0.772250,...,6.776050e+04,2.882500,2.595875,1.063625,1.817125,3.234375,2.226125,1.702500,3.30350,1.094875
std,2309.54541,0.938228,0.491019,8.917100,27.187404,38.747503,0.49913,16.842865,1.52882,1.071459,...,2.909591e+05,1.521835,1.077011,0.789402,0.511825,1.423182,0.971525,0.976147,1.98132,3.410180
min,1.00000,-8.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1921.000000,-8.00000,-8.000000,...,-3.000000e+00,-3.000000,-8.000000,-3.000000,-8.000000,1.000000,-8.000000,-8.000000,-8.00000,-8.000000
25%,2000.75000,4.000000,1.000000,7.000000,18.000000,37.000000,1.00000,1952.000000,1.00000,1.000000,...,1.300000e+04,2.000000,2.000000,1.000000,2.000000,3.000000,2.000000,1.000000,3.00000,2.000000
50%,4000.50000,4.000000,1.000000,15.000000,42.000000,73.000000,2.00000,1965.000000,1.00000,1.000000,...,3.800000e+04,3.000000,3.000000,1.000000,2.000000,3.000000,2.000000,2.000000,4.00000,2.000000
75%,6000.25000,4.000000,2.000000,22.000000,65.000000,104.000000,2.00000,1977.000000,1.00000,1.000000,...,7.000000e+04,4.000000,3.000000,1.000000,2.000000,3.000000,3.000000,2.000000,4.00000,3.000000
max,8000.00000,5.000000,2.000000,31.000000,89.000000,134.000000,2.00000,1997.000000,8.00000,1.000000,...,9.999992e+06,50.000000,5.000000,30.000000,2.000000,7.000000,3.000000,3.000000,5.00000,4.000000

In [9]:
df.dtypes

id                   int64
happiness            int64
survey_type          int64
province             int64
city                 int64
county               int64
survey_time         object
gender               int64
birth                int64
nationality          int64
religion             int64
religion_freq        int64
edu                  int64
income               int64
political            int64
floor_area         float64
height_cm            int64
weight_jin           int64
health               int64
health_problem       int64
depression           int64
hukou                int64
socialize            int64
relax                int64
learn                int64
equity               int64
class                int64
work_exper           int64
work_status        float64
work_yr            float64
work_type          float64
work_manage        float64
family_income      float64
family_m             int64
family_status        int64
house                int64
car                  int64
marital              int64
status_peer          int64
status_3_before      int64
view                 int64
inc_ability          int64
dtype: object

In [13]:
df = df.drop(['id', 'survey_time'], axis=1)

In [14]:
df.head()

,happiness,survey_type,province,city,county,gender,birth,nationality,religion,religion_freq,...,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
0,4,1,12,32,59,1,1959,1,1,1,...,60000.0,2,2,1,2,3,3,2,4,3
1,4,2,18,52,85,1,1992,1,1,1,...,40000.0,3,4,1,2,1,1,1,4,2
2,4,2,29,83,126,2,1967,1,0,3,...,8000.0,3,3,1,2,3,2,1,4,2
3,5,2,10,28,51,2,1943,1,1,1,...,12000.0,3,3,1,1,7,2,1,3,2
4,4,1,7,18,36,2,1994,1,1,1,...,-2.0,4,3,1,1,1,3,2,3,-8

In [15]:
df['age'] = 2015 - df['birth']

In [16]:
df.head()

,happiness,survey_type,province,city,county,gender,birth,nationality,religion,religion_freq,...,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability,age
0,4,1,12,32,59,1,1959,1,1,1,...,2,2,1,2,3,3,2,4,3,56
1,4,2,18,52,85,1,1992,1,1,1,...,3,4,1,2,1,1,1,4,2,23
2,4,2,29,83,126,2,1967,1,0,3,...,3,3,1,2,3,2,1,4,2,48
3,5,2,10,28,51,2,1943,1,1,1,...,3,3,1,1,7,2,1,3,2,72
4,4,1,7,18,36,2,1994,1,1,1,...,4,3,1,1,1,3,2,3,-8,21

In [17]:
df.drop('birth', axis=1, inplace=True)

In [18]:
df.head()

,happiness,survey_type,province,city,county,gender,nationality,religion,religion_freq,edu,...,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability,age
0,4,1,12,32,59,1,1,1,1,11,...,2,2,1,2,3,3,2,4,3,56
1,4,2,18,52,85,1,1,1,1,12,...,3,4,1,2,1,1,1,4,2,23
2,4,2,29,83,126,2,1,0,3,4,...,3,3,1,2,3,2,1,4,2,48
3,5,2,10,28,51,2,1,1,1,3,...,3,3,1,1,7,2,1,3,2,72
4,4,1,7,18,36,2,1,1,1,12,...,4,3,1,1,1,3,2,3,-8,21

In [ ]:
def change_multi_binary(x):
    if x >= 3:
        return 1

In [21]:
df['target'] =

In [ ]:
df.to_csv('train.csv', index=False)